.title {
  text-transform: uppercase;
  color: #ccc;
  margin-bottom: 10px;
}

.statList {
  display: flex;
  padding-inline-start: 0;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 40px;
  padding: 10px;

  color: #fff;
  background-color: #ccc;
}

.label {
  font-size: 12px;
  margin-bottom: 6px;
}
